$color-main: #0075FF;

@mixin btn-size-s {
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}

@mixin btn-propeties {
    background-color: $color-main;
    color: white;
    padding: 0.25rem 1.5rem;
    border-radius: 0.25rem;
    border: none;
    border: solid 1px $color-main;
}

.btn-main{
    @include btn-propeties();

    &:hover{
        background-color: white;
        color: $color-main;
    }

    &-s{
        @extend .btn-main;
        @include btn-size-s();
    }
}

.btn-sec{
    @include btn-propeties();
    color: black;
    background-color: transparent;
    border: none;

    &:hover{
        background-color: white;
        color: #888;
    }

    &-s{
        @extend .btn-sec;
        @include btn-size-s();
    }
}

.main-menu{
    
    margin-bottom: 0;

    li{
        font-size: 0.85rem;
        list-style: none;
        display: inline;
        padding: 0.5rem;

        a{
            color: black;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.icon-sm{
    i{
        font-size: 1.25rem;
        padding: 0.4rem 0.65rem;
        color: $color-main;
        border-radius: 50%;
        box-shadow: 0 0 10px #00000040;
    }
}

.feature{
    display: flex;
    flex-direction: column;
    .icon{
        color: $color-main;
        font-size: 15rem;
        text-align: center;
    }
    .description{
        .title{
            font-size: 2rem;
            text-align: center;
        }
        .text{
            color: #888;
            font-weight: 600;
            text-align: center;
        }
    }
    .cta{
        margin-top: 3rem;
        color: $color-main;
        font-weight: 600;
        text-align: center;
    }
}

.icon-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icon{
        color: $color-main;
        font-size: 10rem;
        padding: 0;
    }
    .title{
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: -1.75rem;
    }
}